
body {
    margin: 0px;
    padding: 0px;

    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;

    background-color: #f2f2f2;
}

a {
    font-weight: bold;
    color: black;
    text-decoration-line: none;
}

div.welcoming {
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;

    white-space: pre;
    background-color: white;
}

p.welcoming {
    font-size: 14px;
    font-weight: normal;
}

.navigation a:hover {
    font-weight: bold;
    text-decoration-line: none;
    color: #81b3d2;
}

.navigation a:active {
    font-weight: bold;
    text-decoration-line: none;
    color: #cacaca;
}

.socials,
.features-list,
.navigation-list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hashtag {
    font-weight: bold;
}

.feature {
    margin: 10px;
    padding: 10px;

    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: white;
    background-color: #81b3d2;

    width: 400px;
    height: 257px;
}
.feature h2 {
    font-weight: bold;
}
.feature.gray {
    color: black;
    background-color: #eeeeee;
}

.socials.twitter,
.socials.facebook,
.socials.youtube {
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.socials.twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 16px;
}

.socials.facebook {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 22px;
}

.socials.youtube {
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 16px;
}

.form {
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    white-space: pre;
    background-color: white;

}

.form.caption {
    padding-top: 58px ;
    font-size: 30px;
}

.form.subcaption {
    padding-bottom: 54px;
    text-align: center;
    font-weight: normal;
}

.form.title {
    padding: 35px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: white;

    background-color: #766357;
}

.main-footer {
    background-color: white;
    opacity: 0.9;

    background-position: 0 0;
}
