
body {
    margin: 0px;
    padding: 0px;

    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;

    background-color: #f2f2f2;
}

a {
    color: black;
    text-decoration-line: none;
}

div.main-text {
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;

    background-color: white;
}

p.main-text {
    font-size: 14px;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-image {
    background-image: url(../img/background_photo2.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 509px;
}

.image-text {
    text-align: center;
    padding-top: 76px;
}

.image-polygon {
    padding-top: 23px;
}

.navigation {
    background-color: white;
}

.navigation-items {
    font-weight: 700;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration-line: none;
    color: #81b3d2;
}

.navigation a:active {
    color: #cacaca;
}

a.current-page {
    pointer-events: none;
    cursor: default;
    color: #766357;
}

.navigation a:active {
    font-weight: 700;
    text-decoration-line: none;
    color: #cacaca;
}

.socials,
.features,
.features-list,
.navigation-items,
.results, 
.filters-list {
    list-style: none;
}


.feature { 
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: white;
    background-color: #81b3d2;

    width: 400px;
    height: 257px;
}

.feature h2 {
    padding-top: 50px;
    font-weight: 700;
}

p .feature {
    padding: 50px;
}

.feature.gray {
    color: black;
    background-color: #eeeeee;
}

.features-list {
    text-align: center;
    background-color: white;
}

.form.title {
    text-transform: uppercase;
    padding: 35px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: white;

    border: none;
    width: 568px;
    height: 86px;

    background-color: #766357;
}

.form.title:hover {
    background-color: #604e43;
}

.form.title:active {
    color: #928a85;
    background-color: #503e33;
}

.form {
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    background-color: white;

}

.form-booking {
    padding: 10px;
    background-color: white;
}

.form.caption {
    padding-top: 58px;
    font-size: 30px;
}

.form.subcaption {
    padding-bottom: 54px;
    font-weight: 400;
}

.form-date-in,
.form-date-out,
.form-adults,
.form-children {
    font-weight: 700;
}

.form-booking input[type="date"],
.form-booking input[type="number"] {
    font: inherit;
    border: none;

    background-color: #f2f2f2;
    padding-left: 13px;
    width: 345px;
    height: 38px;
}

button.find {
    font-family: "PT Sans";
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;

    border:none;
    background-color: #81b3d2;

    width: 458px;
    height: 58px;
}

button.find:hover {
    background-color: #669ec0;
}

button.find:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.hotel-result {
    background-color: white;
}

h3.hotel-result {
    font-size: 21px;
    
}

.button-about {
    font-weight: 700;
    text-align: center;
    color: white;

    background-color: #81b3d2;

}

.button-book {
    font-weight: 700;
    text-align: center;
    color: white;
    
    background-color: #766357;
}

.button-about:hover {
    background-color: #669ec0;
}

.button-about:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.button-book:hover {
    background-color: #604e43;
}

.button-book:active {
    background-color: #503e33;
    color: #928a85;
}
.rating p {
    text-align: center;
    background-color: #f2f2f2;
}

.main-footer {
    background-color: white;
    opacity: 0.9;

    background-position: 0 0;
}

.footer-hashtag {
    font-size: 21px;
    padding-top: 36px;
    margin-bottom: 0;
    font-weight: 700;
}

.footer-contact {
    font-size: 21px;
    font-weight: 700;
}

.socials.twitter,
.socials.facebook,
.socials.youtube {
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.socials.twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 16px;
}

.socials.facebook {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 22px;
}

.socials.youtube {
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 16px;
}

.form-filter {
    border: none;
}

.filters {
    color: white;

    background-color: #4a7daa;
    background-image: url(../img/bg_filter_hotels.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
}

.filter-group {
    font-weight: 700;
    font-size: 16px;
}

label.filter-name { 
    display: block;
    position: relative;
    width: 26px;
    height: 23px;
    padding-left: 40px;
    margin-bottom: 23px;
}
input[type="checkbox"].filter-item {
    display: none;
}
input[type="checkbox"] + span.checkbox {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: url(../img/checkbox-off.svg) no-repeat; 
    cursor: pointer; 
}

input[type="checkbox"]:checked + span.checkbox  {
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
   }

   .form-prise {
       margin-left: 65px;
   }

   .form-prise input[type="number"] {
    border: none;
    background: transparent;
    color: white;
    text-align: center;
}

button.button-show {
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    text-transform: inherit;
    border: 2px solid white;
    padding: 11px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 2px;
}

button.button-show:hover {
    background-color: white;
    color: black;
}

.result-item {
    font-size: 21px;
    font-weight: 700;
}

.result-item:hover {
    color: #81b3d2;
    cursor: pointer;
}

.result-item:active {
    color: #cacaca;
    cursor: pointer;
}

.sorting {
    font-size: 12px;
}

.sorting a {
    color: #cacaca;
    border-bottom: 1px #81b3d2 dotted;
    font-size: 12px;
    font-weight: 400;
    margin-left: 34px;
    padding: 1px;
}

.sorting .selected {
    color: #81b3d2;
    border: none;
}
.sorting a:hover {
    color: #81b3d2;
}

.sorting a:active {
    color: black;
    border: none;
}

.sorting-results {
    font-size: 21px;
    font-weight: 700;
}

.button-increase {
    border-bottom: none;
    background-image: url(../img/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 10px;
} 

.button-decrease {
    border: none;
    background-image: url(../img/icon-down-dir.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 10px;
} 