body {
    background-color: darkcyan;
    color: white;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}
ul {
    list-style: none;
}

form {
  border: none;
}

legend {
    font-weight: bold;
}

.visually-hidden {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.from-to {
    font-weight: bold;
}

input[type="number"] {
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
}

fieldset {
   border: none;
}

.border {
    display: block;
    width: 318px;
    height: 36px;
    border: white 2px;
}
label.filter-name { 
    display: block;
    position: relative;
    width: 26px;
    height: 23px;
    padding-left: 30px;
    margin-bottom: 15px;
}
.indicator::before {
    content: url(../img/checkbox-off.svg);
    width: 100%; height: 100%;
    
    cursor: pointer; 

}

+ input[type="checkbox"]:checked + .indicator::before {
    content: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
}
}
/*input[type="checkbox"] + span.checkbox {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: url(../img/checkbox-off.svg) no-repeat; 
    cursor: pointer; 
}

input[type="checkbox"]:checked + span.checkbox  {
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
   }*/