body {
    background-color: darkcyan;
    color: white;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: ivory;
}

ul {
    list-style: none;
}

.navigation-items {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgb(115, 204, 192);
    font-weight: 700;
    font-size: 21px;
    width: 1200px;
    height: 56px;
    align-content: flex-start;
    justify-content: space-between;
}


.visually-hidden {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

